<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()} + ' ' + ${user.getSurname()}">user</title>
</head>
<body>
    <p th:text="'Number of card: ' + ${user.getId()}">user</p>
    <p th:text="'Name: ' + ${user.getName()}">user</p>
    <p th:text="'Surname: ' + ${user.getSurname()}">user</p>
    <p th:text="'Age: ' + ${user.getAge()}">user</p>
    <p th:text="'Books have: ' + ${user.getBooksHave()}">user</p>
    <p th:text="'Books done: ' + ${user.getBooksDone()}">user</p>
    <a th:if="${user.getBooksHave}>0" th:href="@{'/users/' + ${user.getId()} + '/books'}">Books in process</a>
</body>
</html>